.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

.good { background-color: #CAFF70; }
.bad { background-color: #FF7256; }
.loading { font-style: italic; }

body {
    margin-bottom: 50px;
}

h1 a {
    text-decoration: none;
    color: black;
}

#routers {
    display: inline-block;
    vertical-align: middle;
}

#fig {
    width: 600px;
    min-height: 400px;
}

#configuration {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

#logo {
    position: absolute;
    right: 0;
    top: 0;
}

.legend { }

.legend-title {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2em;
    margin-bottom: 0;
}

.legend ul {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.legend li {
    float: left;
    margin-right: 2em;
}

.legend span {
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    float: left;
    margin-right: 0.5em;
}

.legend-note {
    margin-top: 8px;
    margin-left: 40px;
}

.legend-installed { background-color: #4d4; }
.legend-uninstalled { background-color: #8e8; }
.legend-unreachable { background-color: #ddd; }
.legend-wired-link { background-color: #ff0; }
.legend-lossless-wireless { background-color: #f18973; }
.legend-unreachable-neighbour { background-color: #f30; }
.legend-current { background-color: #f69; }
.legend-neighbours { background-color: #c0f; }
.legend-others { background-color: #03f; }
.legend-selected { background-color: #03f; }
.legend-route { background-color: #777; }

table {
    margin-left: 40px;
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    font-family: monospace;
    padding: 0 1ex;
    border: 1px solid black;
    text-align: center;
}
td { white-space: nowrap; }

tr:hover { font-weight: bold; }

tr {
    background-color: white;
    transition: background-color 1s;
}
